body {
    font-family: Arial, sans-serif; /* LysSchriftart muss noch gewählt werden! */
    background-color: #d3d3d3; /* LysHellgrau als Hintergrund für die gesamte Seite */
}

#quiz-container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px 0;
    padding: 10px;
    background-color: #3333CC; /* LysBlau als Hintergrundfarbe für die Buttons */
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease; /* Weicher Übergang für Hover-Effekte */
}

button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

button:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Leichterer Schatten beim Klicken auf den Button */
    transform: translateY(2px); /* Drückeffekt für die Buttons */
}

.hide {
    display: none;
}

.correct {
    background-color: #28a745;
}

.wrong {
    background-color: #dc3545;
}
